.user-avatar {
    width: 250px;
    height: 250px;
    border-radius: 4px;
}

.user-icon {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 7em;
    font-weight: 700;
}

.user-box {
    display: flex;

    .info {
        padding-left: 2em;
    }
}

.user-info {
    .username {
        color: #000;
    }

    .title {
        color: @shivers-dark;
    }

    .field-of-work {
        color: @shivers-grey;
    }
}

.user-info-box {
    height: 250px;
    display: flex;

    .user-info-item {
        align-self: flex-end;
        font-size: 1.3em;

        .username {
            color: #000;
        }
        
        .location {
            color: @shivers-grey;
        }
    
        .field-of-work {
            color: @shivers-dark;
        }
    }
}

.px {
    &-1 {
        .px(1px)
    }
    &-xs {
        .px(.25em)
    }
    &-sm {
        .px(.5em)
    }
    &-md {
        .px(1em)
    }
    &-lg {
        .px(2em)
    }
    &-xl {
        .px(3em)
    }   
}